<div class='row'>
  <div class='col-md-12'>
    <div class="container">
      <br>
      <div class="container">
        <h2>Lista de Produtos</h2>
      </div>
      <br>
      <div class="container">
        <div class='row justify-content-start marginTabela justify-content-between'>
          <form class="form-inline comMarginBottom">
            <input type='search' placeholder='Pesquisar' class='form-inline form-control mr-sm-1'>
            <button class="btn btn-info my-2 my-sm-0" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <form class="form-inline">
              <a type='submit' [routerLink]="['/estoquista/listar']" class='btn btn-info  centralizar'>
                Perfil Estoquista
              </a>
            </form>
          <form class="form-inline">
            <a type='submit' [routerLink]="['/produtos/cadastrar']" class='btn btn-success  centralizar'>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              </svg>
              Novo Produto
            </a>
          </form>


        </div>

        <div class='row marginTabela' style='text-align: center'>
          <table class="table">
            <thead class="thead-default tituloTabela">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Qunatidade</th>
                <!-- <th scope="col">Marca</th> -->
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor='let produtos of responseProdutos'>
                <td scope="row"> {{ produtos.id }} </td>
                <td class="maxCarch">{{ produtos.nome }}</td>
                <td>{{ produtos.quantidade }}</td>
                <!-- <td>{{ produtos.marca}}</td> -->
                <td>
                  <!-- <abbr title="Cadastrar">
                    <button type="button" class="btn btn-info" [routerLink]="['/produtos/cadastrar']">
                      <i class="fa fa-pencil">
                      </i>
                    </button>
                  </abbr>&nbsp; -->
                  <abbr title="Atualizar">
                    <button type="button" class="btn btn-info" [routerLink]="['/produtos/editar', produtos.id]">
                      <i class="fa fa-pencil">
                      </i>
                    </button>
                  </abbr>&nbsp;
                  <abbr title="Visualizar">
                    <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark"
                      [routerLink]="['/produtos/visualizar/', produtos.id]">
                      <i class="fa fa-eye">
                      </i>
                    </button>
                  </abbr>&nbsp;
                  <abbr title="Excluir">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirModal" (click)="remover(produtos.id, produtos.nome)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </abbr>&nbsp;
                  <!-- <button type="button" class="btn btn-outline-primary centralizar" data-toggle="modal" data-target="#excluirModal">
                    Sair
                  </button> -->

                  <!-- Modal -->
                  <!-- <div class="modal fade" id="excluirModal" tabindex="-1" role="dialog" aria-labelledby="excluirModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="excluirModalLabel">Exclusão de Produto</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Você deseja realmente excluir ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                          <button type="submit" (click)="remover(produtos.id, produtos.nome)" class="btn btn-success">Sim!</button>
                        </div>
                      </div>
                    </div>
                  </div> -->



    <!-- <h1>Produtos</h1>
<table *ngFor="let produtos of responseProdutos" class="centralizarTexto">
  <div class="well">
    <form #formProduto="ngForm">
      <div class="form-group">
        <table class="table table-hover">
          <thead class="thead-default tituloTabela">
            <tr>
              <th class="centralizarTexto" scope="col">#</th>
              <th class="centralizarTexto" scope="col">Nome</th>
              <th class="centralizarTexto" scope="col">Marca</th>
              <th class="centralizarTexto" scope="col">Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="centralizarTexto" scope="row">{{produtos.id}}</th>
              <td class="centralizarTexto maxCarch">{{produtos.nome}}</td>
              <td class="centralizarTexto">{{produtos.marca}}</td>
              <td class="centralizarTexto">{{produtos.quantidade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group text-center">
        <a [routerLink]="['/produtos']" class="btn btn-default">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
        </a>
      </div>
    </form>
  </div>
  </table> -->
    <!-- <tbody>
    <tr>
      <th>Produtos</th>
      <th class="text-center">
        <a [routerLink]="['/produtos/cadastrar']" class="btn btn-xs btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
        </a>
      </th>
    </tr>
    <tr *ngFor="let produtos of responseProdutos">
      <td style="width: 70px" class="text-center">
        {{produtos.nome}}
      </td>
      <td class="text-center" style="width: 200px justify-content">
        <a [routerLink]="['/produtos/editar', produtos.id]" title="Editar" alt="Editar" class="btn btn-xs btn-info">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
        </a>
        <a [routerLink]="['/produtos/visualizar', produtos.id]" title="Visualizar" alt="Visualizar" class="btn btn-xs btn-success">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Visualizar
        </a>
        <a title="Remover" alt="Remover" class="btn btn-xs btn-danger"
          (click)="remover(produtos.id, produtos.nome)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
        </a>
      </td>
    </tr>
  </tbody> -->
