html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

#produtoImagem {
  width: 150px;
  height: 420px;
  /* background-image: url("/assets/images/fender.png"); */
  background-repeat: no-repeat;
  background-size: 160px;
  position: relative;
  justify-content: center;
  margin-left: 50px;
}
